@charset "UTF-8";
@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-5rem); }
  65% {
    transform: translateX(1.3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(5rem); }
  65% {
    transform: translateX(-1.3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes bottomToTop {
  0% {
    opacity: 0;
    transform: translateY(2.5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  background-color: #fff; }

body {
  font-family: 'Lato', sans-serif;
  background-color: #f7f7f7;
  color: #777;
  margin: 3rem; }

body {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary .heading-primary--main, .heading-primary .heading-primary--sub {
    display: block; }
  .heading-primary--main {
    font-size: 6rem;
    line-height: 10.2rem;
    letter-spacing: 3.5rem;
    animation: leftToRight 1.5s ease-in-out; }
  .heading-primary--sub {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.4rem;
    letter-spacing: 1.75rem;
    animation: rightToLeft 1.5s ease-in-out; }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  text-transform: uppercase;
  background-color: #f7f7f7;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #777; }

.paragraph {
  font-size: 1.6rem;
  color: #777; }

.u-text-align {
  text-align: center !important; }

.u-margin-big-1 {
  margin-bottom: 10rem !important; }

.u-margin-big {
  margin-bottom: 8rem !important; }

.u-margin-medium {
  margin-bottom: 3rem !important; }

.u-margin-mini {
  margin-bottom: 1.5rem !important; }

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 2.72rem;
  transition: all .2s;
  position: relative; }
  .btn.animation,
  .btn:link.animation,
  .btn:visited.animation {
    animation: bottomToTop 0.8s 0.5s ease-in-out;
    animation-fill-mode: backwards; }
  .btn.btn-primary-white,
  .btn.btn-primary-white:link,
  .btn.btn-primary-white:visited, .btn.btn-primary-green,
  .btn.btn-primary-green:link,
  .btn.btn-primary-green:visited,
  .btn.btn-primary-white:link,
  .btn.btn-primary-green:link,
  .btn.btn-primary-white:visited,
  .btn.btn-primary-green:visited {
    border-radius: 1000rem;
    padding: 1.5rem 4rem;
    text-transform: uppercase; }
  .btn.btn-primary-white,
  .btn:link.btn-primary-white,
  .btn:visited.btn-primary-white {
    color: #777;
    background-color: #fff; }
    .btn.btn-primary-white:hover,
    .btn:link.btn-primary-white:hover,
    .btn:visited.btn-primary-white:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15); }
      .btn.btn-primary-white:hover::after,
      .btn:link.btn-primary-white:hover::after,
      .btn:visited.btn-primary-white:hover::after {
        opacity: 0;
        transform: scale(1.2, 1.6); }
    .btn.btn-primary-white:active,
    .btn:link.btn-primary-white:active,
    .btn:visited.btn-primary-white:active {
      transform: translateY(0);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      outline: none; }
    .btn.btn-primary-white:focus,
    .btn:link.btn-primary-white:focus,
    .btn:visited.btn-primary-white:focus {
      outline: none; }
    .btn.btn-primary-white::after,
    .btn:link.btn-primary-white::after,
    .btn:visited.btn-primary-white::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 1000rem;
      transition: all .5s;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: -1; }
  .btn.btn-primary-green,
  .btn:link.btn-primary-green,
  .btn:visited.btn-primary-green {
    color: #fff;
    background-color: #55c57a; }
    .btn.btn-primary-green:hover,
    .btn:link.btn-primary-green:hover,
    .btn:visited.btn-primary-green:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15); }
      .btn.btn-primary-green:hover::after,
      .btn:link.btn-primary-green:hover::after,
      .btn:visited.btn-primary-green:hover::after {
        opacity: 0;
        transform: scale(1.2, 1.6); }
    .btn.btn-primary-green:active,
    .btn:link.btn-primary-green:active,
    .btn:visited.btn-primary-green:active {
      transform: translateY(0);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      outline: none; }
    .btn.btn-primary-green:focus,
    .btn:link.btn-primary-green:focus,
    .btn:visited.btn-primary-green:focus {
      outline: none; }
    .btn.btn-primary-green::after,
    .btn:link.btn-primary-green::after,
    .btn:visited.btn-primary-green::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 1000rem;
      transition: all .5s;
      width: 100%;
      height: 100%;
      background-color: #55c57a;
      z-index: -1; }
  .btn.btn-secondary,
  .btn:link.btn-secondary,
  .btn:visited.btn-secondary {
    color: #55c57a;
    border-bottom: 0.1rem solid #55c57a;
    padding: 0.3rem 0.1rem; }
    .btn.btn-secondary:hover,
    .btn:link.btn-secondary:hover,
    .btn:visited.btn-secondary:hover {
      color: #fff;
      background-color: #55c57a;
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15); }
    .btn.btn-secondary:active,
    .btn:link.btn-secondary:active,
    .btn:visited.btn-secondary:active {
      transform: translateY(0);
      box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.15); }

.tours__imgs {
  position: relative; }
  .tours__imgs:hover .tours__imgs-img:not(:hover) {
    transform: scale(0.9); }
  .tours__imgs-img {
    width: 55%;
    display: block;
    position: absolute;
    transition: all .2s;
    z-index: 1;
    border-radius: 0.5rem;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.25); }
    .tours__imgs-img:hover {
      transform: scale(1.05);
      z-index: 2;
      outline: 1.2rem solid #55c57a;
      outline-offset: 1.2rem;
      box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.45); }
  .tours__imgs-item1 {
    top: -2rem; }
  .tours__imgs-item2 {
    top: 2rem;
    right: 0; }
  .tours__imgs-item3 {
    top: 10rem;
    left: 20%; }

.futured__box {
  padding: 2.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.15);
  transition: all .3s; }
  .futured__box:hover {
    transform: scale(1.05) translateY(-2rem);
    box-shadow: 0 2.2rem 4.4rem rgba(0, 0, 0, 0.15); }
  .futured__box-icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }

.pricing__card {
  position: relative;
  height: 53rem;
  width: 34rem;
  perspective: 150rem; }
  .pricing__card:hover .pricing__card-front {
    transform: rotateY(180deg); }
  .pricing__card:hover .pricing__card-back {
    transform: rotateY(0); }
  .pricing__card-item {
    width: 34rem;
    height: 53rem;
    top: 0;
    left: 0;
    transition: all .6s ease;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    position: absolute;
    box-shadow: 0 1.2rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: 0.3rem; }
  .pricing__card-front {
    background-color: #fff;
    transform: rotateY(0); }
    .pricing__card-front_img {
      background-position: center;
      background-size: cover;
      background-blend-mode: screen;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      padding-top: 70%;
      border-radius: 0.3rem; }
      .pricing__card-front_img-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(/img/nat-5.jpg); }
      .pricing__card-front_img-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(/img/nat-6.jpg); }
      .pricing__card-front_img-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(/img/nat-7.jpg); }
    .pricing__card-front_heading {
      text-align: right;
      display: inline;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      position: absolute;
      width: 60%;
      right: 2rem;
      top: 25%; }
      .pricing__card-front_heading span {
        text-transform: uppercase;
        font-size: 2.8rem;
        font-weight: 300;
        padding: 1rem 1.5rem; }
      .pricing__card-front_heading-1 span {
        background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));
        color: #fff; }
      .pricing__card-front_heading-2 span {
        background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
        color: #fff; }
      .pricing__card-front_heading-3 span {
        background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
        color: #fff; }
    .pricing__card-front_content {
      text-align: center;
      list-style: none;
      padding: 3rem 5.8rem;
      font-size: 1.5rem; }
      .pricing__card-front_content-text {
        padding: 1rem 0; }
        .pricing__card-front_content-text:not(:last-child) {
          border-bottom: 0.1rem solid #eee; }
  .pricing__card-back {
    transform: rotateY(-180deg); }
    .pricing__card-back-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
    .pricing__card-back-2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
    .pricing__card-back-3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
    .pricing__card-back_cta {
      text-align: center;
      padding: 12.9rem 1.7rem;
      color: #fff;
      text-transform: uppercase; }
      .pricing__card-back_cta span {
        display: block; }
      .pricing__card-back_cta-text {
        font-size: 1.4rem; }
      .pricing__card-back_cta-price {
        font-size: 6rem;
        font-weight: 100; }

.comment_box {
  width: 80%;
  margin: 0 auto; }
  .comment_box_item {
    padding: 6rem 9rem 6rem 12rem;
    background-color: rgba(255, 255, 255, 0.6);
    clip-path: polygon(7% 0, 100% 0, 94% 100%, 0 100%); }
    .comment_box_item:hover .comment_box_item-img-text {
      transform: translate(-50%, -50%);
      opacity: 1; }
    .comment_box_item:hover .comment_box_item-img img {
      transform: scale(1);
      filter: blur(2px) brightness(0.8); }
    .comment_box_item-img {
      width: 15rem;
      height: 15rem;
      /* phải có width và hieght và float */
      border-radius: 50%;
      float: left;
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      /* circle(bán kính so với width, height at tâm_X tâm_Y) */
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      transform: translateX(-3rem);
      backface-visibility: hidden;
      position: relative; }
      .comment_box_item-img img {
        height: 100%;
        transform: scale(1.2);
        transition: all .5s; }
      .comment_box_item-img-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -10%);
        color: #fff;
        font-size: 1.7rem;
        font-weight: 400;
        text-transform: uppercase;
        transition: all .5s;
        opacity: 0; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row.add_color [class^="col-"] {
    background-color: orange; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row:not(:last-child) {
    margin-bottom: 5rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (2 * 6rem)) / 3); }
  .row .col-2-of-3 {
    width: calc(100% - (((100% - (2 * 6rem)) / 3) + (6rem))); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 6rem)) / 4); }
  .row .col-2-of-4 {
    width: calc(100% - (((((100% - (3 * 6rem)) / 4)) + (6rem)) * 2)); }
  .row .col-3-of-4 {
    width: calc(100% - (((100% - (3 * 6rem)) / 4) + (6rem))); }

.header {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(/img/hero.jpg);
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  height: 95vh;
  position: relative; }
  .header__logo {
    position: absolute;
    top: 5rem;
    left: 3rem; }
    .header__logo-img {
      height: 3.5rem; }
  .header__text {
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%; }

.tours-section {
  padding: 8.4rem 0; }

.futured-section .futured {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(/img/nat-4.jpg);
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  padding: 29rem 16rem; }

.pricing-section {
  padding: 8.4rem 0; }

.comment-section {
  padding: 13.4rem 0;
  z-index: 1;
  position: relative; }
  .comment-section_video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    opacity: 0.14; }
