@charset "UTF-8";
/*
@include respon(desktop) {
    font-size: 56.25%;
}
*/
@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-5rem); }
  65% {
    transform: translateX(1.3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(5rem); }
  65% {
    transform: translateX(-1.3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes bottomToTop {
  0% {
    opacity: 0;
    transform: translateY(2.5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  background-color: #fff; }

body {
  font-family: 'Lato', sans-serif;
  background-color: #f7f7f7;
  color: #777;
  margin: 3rem; }

::selection {
  color: #fff;
  background: #55c57a; }

body {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary .heading-primary--main, .heading-primary .heading-primary--sub {
    display: block; }
  .heading-primary--main {
    font-size: 6rem;
    line-height: 10.2rem;
    letter-spacing: 3.5rem;
    animation: leftToRight 1.5s ease-in-out; }
  .heading-primary--sub {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.4rem;
    letter-spacing: 1.75rem;
    animation: rightToLeft 1.5s ease-in-out; }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  text-transform: uppercase;
  background-color: #f7f7f7;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #777; }

.paragraph {
  font-size: 1.6rem;
  color: #777; }

.u-text-align {
  text-align: center !important; }

.u-margin-big-1 {
  margin-bottom: 10rem !important; }

.u-margin-big {
  margin-bottom: 8rem !important; }

.u-margin-medium {
  margin-bottom: 3rem !important; }

.u-margin-medium2 {
  margin-bottom: 4rem !important; }

.u-margin-mini {
  margin-bottom: 1.5rem !important; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row.add_color [class^="col-"] {
    background-color: orange; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row:not(:last-child) {
    margin-bottom: 5rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (2 * 6rem)) / 3); }
  .row .col-2-of-3 {
    width: calc(100% - (((100% - (2 * 6rem)) / 3) + (6rem))); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 6rem)) / 4); }
  .row .col-2-of-4 {
    width: calc(100% - (((((100% - (3 * 6rem)) / 4)) + (6rem)) * 2)); }
  .row .col-3-of-4 {
    width: calc(100% - (((100% - (3 * 6rem)) / 4) + (6rem))); }

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 2.72rem;
  transition: all .2s;
  position: relative;
  outline: none;
  border: none;
  cursor: pointer; }
  .btn.animation,
  .btn:link.animation,
  .btn:visited.animation {
    animation: bottomToTop 0.8s 0.5s ease-in-out;
    animation-fill-mode: backwards; }
  .btn.btn-primary-white,
  .btn.btn-primary-white:link,
  .btn.btn-primary-white:visited, .btn.btn-primary-green,
  .btn.btn-primary-green:link,
  .btn.btn-primary-green:visited,
  .btn.btn-primary-white:link,
  .btn.btn-primary-green:link,
  .btn.btn-primary-white:visited,
  .btn.btn-primary-green:visited {
    border-radius: 1000rem;
    padding: 1.5rem 4rem;
    text-transform: uppercase; }
  .btn.btn-primary-white,
  .btn:link.btn-primary-white,
  .btn:visited.btn-primary-white {
    color: #777;
    background-color: #fff; }
    .btn.btn-primary-white:hover,
    .btn:link.btn-primary-white:hover,
    .btn:visited.btn-primary-white:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15); }
      .btn.btn-primary-white:hover::after,
      .btn:link.btn-primary-white:hover::after,
      .btn:visited.btn-primary-white:hover::after {
        opacity: 0;
        transform: scale(1.2, 1.6); }
    .btn.btn-primary-white:active,
    .btn:link.btn-primary-white:active,
    .btn:visited.btn-primary-white:active {
      transform: translateY(0);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      outline: none; }
    .btn.btn-primary-white:focus,
    .btn:link.btn-primary-white:focus,
    .btn:visited.btn-primary-white:focus {
      outline: none; }
    .btn.btn-primary-white::after,
    .btn:link.btn-primary-white::after,
    .btn:visited.btn-primary-white::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 1000rem;
      transition: all .5s;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: -1; }
  .btn.btn-primary-green,
  .btn:link.btn-primary-green,
  .btn:visited.btn-primary-green {
    color: #fff;
    background-color: #55c57a; }
    .btn.btn-primary-green:hover,
    .btn:link.btn-primary-green:hover,
    .btn:visited.btn-primary-green:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15); }
      .btn.btn-primary-green:hover::after,
      .btn:link.btn-primary-green:hover::after,
      .btn:visited.btn-primary-green:hover::after {
        opacity: 0;
        transform: scale(1.2, 1.6); }
    .btn.btn-primary-green:active,
    .btn:link.btn-primary-green:active,
    .btn:visited.btn-primary-green:active {
      transform: translateY(0);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      outline: none; }
    .btn.btn-primary-green:focus,
    .btn:link.btn-primary-green:focus,
    .btn:visited.btn-primary-green:focus {
      outline: none; }
    .btn.btn-primary-green::after,
    .btn:link.btn-primary-green::after,
    .btn:visited.btn-primary-green::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 1000rem;
      transition: all .5s;
      width: 100%;
      height: 100%;
      background-color: #55c57a;
      z-index: -1; }
  .btn.btn-secondary,
  .btn:link.btn-secondary,
  .btn:visited.btn-secondary {
    color: #55c57a;
    border-bottom: 0.1rem solid #55c57a;
    padding: 0.3rem 0.1rem; }
    .btn.btn-secondary:hover,
    .btn:link.btn-secondary:hover,
    .btn:visited.btn-secondary:hover {
      color: #fff;
      background-color: #55c57a;
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15); }
    .btn.btn-secondary:active,
    .btn:link.btn-secondary:active,
    .btn:visited.btn-secondary:active {
      transform: translateY(0);
      box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.15); }

.tours__imgs {
  position: relative; }
  .tours__imgs:hover .tours__imgs-img:not(:hover) {
    transform: scale(0.9); }
  .tours__imgs-img {
    width: 55%;
    display: block;
    position: absolute;
    transition: all .2s;
    z-index: 1;
    border-radius: 0.5rem;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.25); }
    .tours__imgs-img:hover {
      transform: scale(1.05);
      z-index: 2;
      outline: 1.2rem solid #55c57a;
      outline-offset: 1.2rem;
      box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.45); }
  .tours__imgs-item1 {
    top: -2rem; }
  .tours__imgs-item2 {
    top: 2rem;
    right: 0; }
  .tours__imgs-item3 {
    top: 10rem;
    left: 20%; }

.futured__box {
  padding: 2.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.15);
  transition: all .3s; }
  .futured__box:hover {
    transform: scale(1.05) translateY(-2rem);
    box-shadow: 0 2.2rem 4.4rem rgba(0, 0, 0, 0.15); }
  .futured__box-icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }

.pricing__card {
  position: relative;
  height: 53rem;
  width: 34rem;
  perspective: 150rem; }
  .pricing__card:hover .pricing__card-front {
    transform: rotateY(180deg); }
  .pricing__card:hover .pricing__card-back {
    transform: rotateY(0); }
  .pricing__card-item {
    width: 34rem;
    height: 53rem;
    top: 0;
    left: 0;
    transition: all .6s ease;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    position: absolute;
    box-shadow: 0 1.2rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: 0.3rem; }
  .pricing__card-front {
    background-color: #fff;
    transform: rotateY(0); }
    .pricing__card-front_img {
      background-position: center;
      background-size: cover;
      background-blend-mode: screen;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      padding-top: 70%;
      border-radius: 0.3rem; }
      .pricing__card-front_img-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(/img/nat-5.jpg); }
      .pricing__card-front_img-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(/img/nat-6.jpg); }
      .pricing__card-front_img-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(/img/nat-7.jpg); }
    .pricing__card-front_heading {
      text-align: right;
      display: inline;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      position: absolute;
      width: 60%;
      right: 2rem;
      top: 25%; }
      .pricing__card-front_heading span {
        text-transform: uppercase;
        font-size: 2.8rem;
        font-weight: 300;
        padding: 1rem 1.5rem; }
      .pricing__card-front_heading-1 span {
        background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));
        color: #fff; }
      .pricing__card-front_heading-2 span {
        background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
        color: #fff; }
      .pricing__card-front_heading-3 span {
        background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
        color: #fff; }
    .pricing__card-front_content {
      text-align: center;
      list-style: none;
      padding: 3rem 5.8rem;
      font-size: 1.5rem; }
      .pricing__card-front_content-text {
        padding: 1rem 0; }
        .pricing__card-front_content-text:not(:last-child) {
          border-bottom: 0.1rem solid #eee; }
  .pricing__card-back {
    transform: rotateY(-180deg); }
    .pricing__card-back-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
    .pricing__card-back-2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
    .pricing__card-back-3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
    .pricing__card-back_cta {
      text-align: center;
      padding: 12.9rem 1.7rem;
      color: #fff;
      text-transform: uppercase; }
      .pricing__card-back_cta span {
        display: block; }
      .pricing__card-back_cta-text {
        font-size: 1.4rem; }
      .pricing__card-back_cta-price {
        font-size: 6rem;
        font-weight: 100;
        margin-bottom: 8rem; }
  @media (hover: none) {
    .pricing__card {
      height: auto;
      box-shadow: 0 1.2rem 4rem rgba(0, 0, 0, 0.15);
      border-radius: 0.3rem;
      overflow: hidden; }
      .pricing__card:hover .pricing__card-front {
        transform: none; }
      .pricing__card:hover .pricing__card-back {
        transform: none; }
      .pricing__card-item {
        position: static;
        height: auto;
        box-shadow: none; }
      .pricing__card-front {
        transform: none; }
        .pricing__card-front_content {
          padding: 3rem 5.8rem 0; }
        .pricing__card-front_heading {
          top: 15%; }
      .pricing__card-back {
        transform: none;
        background-color: #fff;
        background-image: none; }
        .pricing__card-back_cta {
          padding: 5rem 1.7rem 4rem;
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%); }
          .pricing__card-back_cta-price {
            margin-bottom: 3rem;
            font-size: 5rem; }
          .pricing__card-back_cta-1 {
            background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
          .pricing__card-back_cta-2 {
            background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
          .pricing__card-back_cta-3 {
            background-image: linear-gradient(to right bottom, #2998ff, #5643fa); } }

.comment_box {
  width: 80%;
  margin: 0 auto; }
  .comment_box_item {
    padding: 6rem 9rem 6rem 12rem;
    background-color: rgba(255, 255, 255, 0.6);
    clip-path: polygon(7% 0, 100% 0, 94% 100%, 0 100%); }
    .comment_box_item:hover .comment_box_item-img-text {
      transform: translate(-50%, -50%);
      opacity: 1; }
    .comment_box_item:hover .comment_box_item-img img {
      transform: scale(1);
      filter: blur(2px) brightness(0.8); }
    .comment_box_item-img {
      width: 15rem;
      height: 15rem;
      /* phải có width và hieght và float */
      border-radius: 50%;
      float: left;
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      /* circle(bán kính so với width, height at tâm_X tâm_Y) */
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      transform: translateX(-3rem);
      backface-visibility: hidden;
      position: relative; }
      .comment_box_item-img img {
        height: 100%;
        transform: scale(1.2);
        transition: all .5s; }
      .comment_box_item-img-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -10%);
        color: #fff;
        font-size: 1.7rem;
        font-weight: 400;
        text-transform: uppercase;
        transition: all .5s;
        opacity: 0; }

.form_wrap {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0) 50%), url(/img/nat-10.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 3px; }
  .form_wrap .form_content {
    padding: 6rem; }
    .form_wrap .form_content .form_group:not(:last-child) {
      margin-bottom: 2rem; }

.form .form_input {
  font-family: inherit;
  color: inherit;
  padding: 1.5rem;
  border: none;
  font-size: 1.5rem;
  display: block;
  width: 100%;
  border-radius: 3px;
  border-bottom: 3px solid transparent;
  transition: all .3s; }
  .form .form_input::placeholder {
    color: #999; }
  .form .form_input:focus {
    outline: none;
    box-shadow: 0 1.2rem 2.5rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #ffb900; }
  .form .form_input:valid {
    border-bottom: 3px solid #55c57a; }
  .form .form_input:placeholder-shown + .form_label {
    transform: translateY(-4rem);
    opacity: 0;
    visibility: hidden; }

.form .form_label {
  padding: 0 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  display: inline-block;
  transition: all .3s;
  transform: translateY(0);
  opacity: 1;
  visibility: visible; }

.form .form_radio {
  display: inline-block;
  width: 49%; }
  .form .form_radio-fake {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    transform: translateY(0.9rem);
    border: 5px solid #55c57a;
    border-radius: 50%;
    position: relative;
    margin-right: 1rem; }
    .form .form_radio-fake::after {
      content: "";
      width: 1.5rem;
      height: 1.5rem;
      background-color: #55c57a;
      position: absolute;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none; }
  .form .form_radio-input {
    display: none; }
  .form .form_radio-input:checked + .form_radio-label .form_radio-fake::after {
    display: block; }
  .form .form_radio-label-1 {
    float: left; }
  .form .form_radio-label-2 {
    float: right; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.7);
  transition: all .5s .2s;
  opacity: 0;
  visibility: hidden;
  z-index: 5; }
  .popup:target {
    opacity: 1;
    visibility: visible;
    transition: all .5s 0s; }
    .popup:target .popup_content {
      transition: all .3s .2s;
      transform: translate(-50%, -50%) scale(1); }
  .popup_content {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 75%;
    display: table;
    transition: all .3s 0s; }
    .popup_content img {
      width: 100%;
      display: block; }
  .popup_left {
    width: 32%;
    display: table-cell; }
  .popup_right {
    display: table-cell;
    vertical-align: middle;
    padding: 5rem; }
    .popup_right p {
      font-size: 1.4rem;
      -moz-column-count: 2;
      column-count: 2;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto; }
  .popup_button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: inline-block;
    width: 2rem;
    height: 2rem; }
    .popup_button::after, .popup_button::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.2rem;
      background-color: #777;
      top: 50%; }
    .popup_button::after {
      transform: rotate(-45deg); }
    .popup_button::before {
      transform: rotate(45deg); }

.header {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(/img/hero.jpg);
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  height: 95vh;
  position: relative; }
  .header__logo {
    position: absolute;
    top: 5rem;
    left: 3rem; }
    .header__logo-img {
      height: 3.5rem; }
  .header__text {
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%; }

.nav {
  position: fixed;
  width: 7rem;
  height: 7rem;
  top: 5rem;
  right: 7rem;
  z-index: 3; }
  .nav_cb {
    display: none; }
    .nav_cb:checked + .nav_btn .nav_btn-icon {
      background-color: transparent;
      transform: translate(-50%, -50%) rotate(180deg); }
      .nav_cb:checked + .nav_btn .nav_btn-icon::after {
        transform: rotate(-45deg);
        top: 0;
        height: 0.2rem; }
      .nav_cb:checked + .nav_btn .nav_btn-icon::before {
        top: 0;
        transform: rotate(45deg);
        height: 0.2rem; }
    .nav_cb:checked ~ .nav_background {
      transform: translate(-50%, -50%) scale(1);
      transition: all .4s; }
    .nav_cb:checked ~ .nav_text {
      opacity: 1;
      visibility: visible; }
    .nav_cb:checked ~ .nav_text .nav_text_list {
      transform: translate(-50%, -50%);
      transition: all 0.6s cubic-bezier(0.36, 0.3, 0, 1.63);
      width: max-content; }
  .nav_btn {
    position: absolute;
    display: inline-block;
    background-color: #fff;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.15);
    cursor: pointer;
    z-index: 1; }
    .nav_btn:hover .nav_btn-icon {
      width: 50%; }
    .nav_btn-icon {
      position: absolute;
      width: 40%;
      height: 0.2rem;
      background-color: #777;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all .2s; }
      .nav_btn-icon::after, .nav_btn-icon::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.2rem;
        background-color: #777;
        top: 1rem;
        transition: all .2s; }
      .nav_btn-icon::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.2rem;
        background-color: #777;
        top: -1rem;
        transition: all .2s; }
  .nav_background {
    width: calc(100vw * 4);
    height: calc(100vw * 4);
    position: absolute;
    background-image: radial-gradient(#7ed56f, #28b485);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 0;
    transition: all .4s .3s;
    border-radius: 50%; }
  .nav_text {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: all .5s;
    opacity: 0;
    visibility: hidden; }
    .nav_text_list {
      list-style: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-100%, -50%);
      transition: all 0.3s cubic-bezier(1, -0.56, 0.7, 0.34);
      width: max-content; }
      .nav_text_list_item {
        text-align: center;
        transition: all .5s; }
        .nav_text_list_item:hover {
          transform: translateX(0.7rem); }
        .nav_text_list_item:not(:last-child) {
          margin-bottom: 3rem; }
        .nav_text_list_item a {
          text-transform: uppercase;
          font-size: 3rem;
          font-weight: 300;
          padding: 1.5rem;
          text-decoration: none;
          color: #fff;
          background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
          transition: all .5s;
          background-size: 250%;
          background-position: 2%; }
          .nav_text_list_item a:hover {
            color: #55c57a;
            background-size: 220%;
            background-position: 100%; }

.footer {
  background-color: #333;
  padding: 10rem 3rem;
  font-size: 1.4rem; }
  .footer_logo {
    width: 15rem;
    margin: 0 auto;
    margin-bottom: 10rem; }
    .footer_logo-img {
      width: 100%; }
  .footer .footer_text {
    border-top: 1px solid #999;
    padding-top: 2rem;
    width: 85%; }
  .footer .footer_text-left {
    list-style: none;
    display: inline-block; }
    .footer .footer_text-left li {
      display: inline-block; }
      .footer .footer_text-left li:not(:last-child) {
        margin-right: 1rem; }
      .footer .footer_text-left li a:link,
      .footer .footer_text-left li a:visited {
        display: inline-block;
        text-decoration: none;
        transition: all .3s;
        backface-visibility: hidden;
        text-transform: uppercase;
        color: #f7f7f7;
        background-color: #333; }
      .footer .footer_text-left li a:active,
      .footer .footer_text-left li a:hover {
        box-shadow: 0 1.2rem 3rem rgba(0, 0, 0, 0.5);
        color: #55c57a;
        transform: scale(1.2) rotate(10deg); }
  .footer .footer_text-right {
    color: #f7f7f7;
    float: right; }
    .footer .footer_text-right-span {
      transition: all .3s;
      background-color: #333;
      display: inline-block; }
      .footer .footer_text-right-span:hover {
        box-shadow: 0 1.2rem 3rem rgba(0, 0, 0, 0.5);
        color: #55c57a;
        transform: scale(1.5) rotate(10deg); }

.tours-section {
  padding: 8.4rem 0; }

.futured-section .futured {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(/img/nat-4.jpg);
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  padding: 29rem 16rem; }

.pricing-section {
  padding-top: 8.4rem;
  padding-bottom: 8.4rem;
  padding-left: 2.5%;
  padding-right: 2.5%; }

.comment-section {
  padding: 13.4rem 0;
  z-index: 1;
  position: relative; }
  .comment-section_video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    opacity: 0.14; }

.form-section {
  padding: 16rem 4rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)); }

/* 10px / 16px = 0.625 = 62.5% */
/* 9px / 16px = 0.5625 = 56.25% */
/* 8px / 16px = 0.5 = 50% */
/* 7px / 16px = 0.4375 = 43.75% */
/* 6px / 16px = 0.375 = 37.5% */
/* 5px / 16px = 0.3125 = 31.25% */
/* 1800px => 112.5em => big-Large devices (big desktops, less than 1800px)*/
/* 1401px => 87.5625em - 1799px => 112.4375em => dev*/
@media (min-width: 1401px) and (max-width: 1799px) {
  .futured-section .futured {
    padding: 26rem 3rem; } }

/* 1400px => 87.5em => X-Large devices (large desktops, less than 1400px)*/
@media (max-width: 1400px) {
  .futured-section .futured {
    padding: 26rem 3rem; } }

/* 1200px => 75em => Large devices (desktops, less than 1200px)*/
@media (max-width: 1200px) {
  html {
    font-size: 56.25%; }
  .pricing .pricing_item {
    width: 100%; }
    .pricing .pricing_item:not(:last-child) {
      margin-bottom: 5rem; }
  .pricing__card {
    margin: 0 auto; }
  .futured-section .futured {
    clip-path: polygon(0 13%, 100% 0, 100% 85%, 0 100%);
    padding: 20rem 3rem; }
    .futured-section .futured .futured-box {
      max-width: 80vw; }
    .futured-section .futured .futured-item {
      width: 40%;
      display: inline-block;
      margin-right: 0; }
    .futured-section .futured .futured-item1 {
      margin-bottom: 5rem; }
    .futured-section .futured .futured-item2 {
      float: right;
      margin-bottom: 5rem; }
    .futured-section .futured .futured-item3 {
      float: unset; }
    .futured-section .futured .futured-item4 {
      float: right; }
  .form_wrap .form_content {
    padding: 5rem; }
  .footer .footer_text {
    width: 95%; } }

/* 992px => 62em => Medium devices (tablets, less than 992px)*/
@media (max-width: 992px) {
  html {
    font-size: 50%; }
  .tours {
    padding: 0 2rem; }
  .form .form_wrap {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0.5) 100%, rgba(0, 0, 0, 0) 50%), url(/img/nat-10.jpg); }
  .form .form_box {
    width: 100%; }
  .form .form_radio {
    width: max-content; }
    .form .form_radio:not(:last-child) {
      margin-right: 3rem; }
  .form .form_radio-fake {
    border: 4px solid #55c57a; }
  .footer .footer_box .footer_text {
    width: fit-content;
    float: unset;
    display: block;
    margin: 0 auto; }
  .footer .footer_box .footer_item {
    width: 70%;
    margin: 0 auto;
    float: unset; }
    .footer .footer_box .footer_item:not(:last-child) {
      margin-bottom: 7rem; } }

/* 768px => 48em => Small devices (landscape phones, less than 768px)*/
@media (max-width: 768px) {
  html {
    font-size: 43.75%; }
  .tours .tours-item1 {
    width: 100%;
    margin-bottom: 10rem;
    float: none; }
  .tours .tours-item2 {
    margin: 0 auto;
    padding-bottom: 35rem;
    width: 80%;
    float: none; }
  .futured-section .futured {
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    padding: 15rem 3rem; }
  .form .form_radio-fake {
    border: 3.5px solid #55c57a; }
  body {
    margin: 0; }
  .header__logo {
    top: 3rem;
    left: 3rem; }
  .nav {
    top: 2rem;
    right: 2rem; } }

/* 576px => 36em => X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 576px) {
  html {
    font-size: 37.5%; }
  .futured-section .futured .futured__box {
    padding: 1.5rem 1.5rem 3rem; }
  .futured-section .futured .futured-item {
    width: 47%;
    display: inline-block;
    margin-right: 0; }
  .tours-section {
    padding: 4.4rem 0; }
  .heading-primary--main {
    font-size: 4rem;
    letter-spacing: 2rem; }
  .heading-primary--sub {
    font-size: 1.2rem;
    letter-spacing: 0.8rem; }
  .comment_box_item {
    padding: 6rem 5rem 6rem 8rem; }
  .footer .footer_box .footer_item {
    width: 90%; }
  .pricing__card-front_heading {
    width: 55%; } }

/* 360px => 22.5em => X-Small devices (mini phones, less than 360px)*/
@media (max-width: 360px) {
  html {
    font-size: 31.25%; }
  .heading-primary--main {
    font-size: 4rem; }
  .heading-primary--sub {
    font-size: 1.5rem;
    letter-spacing: 1rem; }
  .form .form_radio-fake {
    border: 3px solid #55c57a; }
  .futured-section .futured .futured-item1 {
    margin-bottom: 5rem; }
  .futured-section .futured .futured-item2 {
    margin-bottom: 5rem; } }
