.row {
    max-width: $grid-float-width;
    margin: 0 auto;


    &.add_color {
        [class^="col-"] {
            background-color: orange;
        }
    }

    [class^="col-"] {
        float: left;

        &:not(:last-child) {
            margin-right: $gap-col-float;
        }
    }

    &:not(:last-child) {
        margin-bottom: $gap-row-float;
    }

    &::after {
        content: "";
        display: table;
        clear: both;
    }

    .col-1-of-2 {
        width: calc((100% - #{$gap-col-float}) / 2);
    }

    .col-1-of-3 {
        width: calc((100% - (2 * #{$gap-col-float})) / 3);
    }

    .col-2-of-3 {
        width: calc(100% - (((100% - (2 * #{$gap-col-float})) / 3) + (#{$gap-col-float})));
    }

    .col-1-of-4 {
        width: calc((100% - (3 * #{$gap-col-float})) / 4);
    }

    .col-2-of-4 {
        width: calc(100% - (((((100% - (3 * #{$gap-col-float})) / 4)) + (#{$gap-col-float})) * 2));
    }

    .col-3-of-4 {
        width: calc(100% - (((100% - (3 * #{$gap-col-float})) / 4) + (#{$gap-col-float})));
    }
}