.nav {
    position: fixed;
    width: 7rem;
    height: 7rem;
    top: 5rem;
    right: 7rem;
    z-index: 3;

    &_cb {
        display: none;

        &:checked+.nav_btn .nav_btn-icon {
            background-color: transparent;
            transform: translate(-50%, -50%) rotate(180deg);

            &::after {
                transform: rotate(-45deg);
                top: 0;
                height: 0.2rem;
            }

            &::before {
                top: 0;
                transform: rotate(45deg);
                height: 0.2rem;

            }
        }

        &:checked~.nav_background {
            transform: translate(-50%, -50%) scale(1);
            transition: all .4s;
        }

        &:checked~.nav_text {
            opacity: 1;
            visibility: visible;
        }

        &:checked~.nav_text .nav_text_list {
            transform: translate(-50%, -50%);
            transition: all .6s cubic-bezier(.36, .3, 0, 1.63);
            width: max-content;
        }
    }

    &_btn {
        position: absolute;
        display: inline-block;
        background-color: $color-white;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        box-shadow: 0 1rem 4rem rgba($color-black, 0.15);
        cursor: pointer;
        z-index: 1;

        &:hover {
            .nav_btn-icon {
                width: 50%;
            }
        }

        &-icon {
            position: absolute;
            width: 40%;
            height: 0.2rem;
            background-color: $color-grey-dark-2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all .2s;

            &::after,
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 0.2rem;
                background-color: $color-grey-dark-2;
                top: 1rem;
                transition: all .2s;

            }

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 0.2rem;
                background-color: $color-grey-dark-2;
                top: -1rem;
                transition: all .2s;
            }
        }
    }

    &_background {
        width: calc(100vw * 4);
        height: calc(100vw * 4);
        position: absolute;
        background-image: radial-gradient(rgba($color-primary-light, 1),
                rgba($color-primary-dark, 1));
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        z-index: 0;
        transition: all .4s .3s;
        border-radius: 50%;
    }

    &_text {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        transition: all .5s;

        opacity: 0;
        visibility: hidden;

        &_list {
            list-style: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-100%, -50%);
            transition: all .3s cubic-bezier(1, -0.56, .7, .34);
            width: max-content;

            &_item {
                text-align: center;
                transition: all .5s;

                &:hover {
                    transform: translateX(0.7rem);
                }

                &:not(:last-child) {
                    margin-bottom: 3rem;
                }

                a {
                    text-transform: uppercase;
                    font-size: 3rem;
                    font-weight: 300;
                    padding: 1.5rem;
                    text-decoration: none;
                    color: $color-white;
                    background-image: linear-gradient(120deg,
                            transparent 0%, transparent 50%,
                            $color-white 50%);
                    transition: all .5s;
                    background-size: 250%;
                    background-position: 2%;

                    &:hover {
                        color: $color-primary;
                        background-size: 220%;
                        background-position: 100%;
                    }
                }
            }
        }
    }
}