.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 2.72rem;
    transition: all .2s;
    position: relative;

    &.animation {
        animation: bottomToTop 0.8s 0.5s ease-in-out;
        animation-fill-mode: backwards;
    }

    &%btn-primary-placehoder {
        border-radius: 1000rem;
        padding: 1.5rem 4rem;
        text-transform: uppercase;
    }

    &.btn-primary {
        &-white {
            @extend %btn-primary-placehoder;
            color: $color-grey-dark-2;
            background-color: $color-white;

            @include btn__prmary-effect($color-white)
        }

        &-green {
            @extend %btn-primary-placehoder;
            color: $color-white;
            background-color: $color-primary;
            @include btn__prmary-effect($color-primary)
        }
    }

    &.btn-secondary {
        color: $color-primary;
        border-bottom: 0.1rem solid $color-primary;
        padding: 0.3rem 0.1rem;
        &:hover {
            color: $color-white;
            background-color: $color-primary;
            transform: translateY(-0.3rem);
            box-shadow: 0 1rem 1.5rem rgba($color-black, 0.15);
        }
        &:active {
            transform: translateY(0);
            box-shadow: 0 0.5rem 0.8rem rgba($color-black, 0.15);

        }
    }
}