.comment_box {
    width: 80%;
    margin: 0 auto;

    &_item {
        padding: 6rem 9rem 6rem 12rem;
        background-color: rgba($color-white, 0.6);
        clip-path: polygon(7% 0, 100% 0, 94% 100%, 0 100%);

        &:hover {
            .comment_box_item-img-text {
                transform: translate(-50%, -50%);
                opacity: 1;
            }

            .comment_box_item-img img {
                transform: scale(1);
                filter: blur(2px) brightness(0.8);
            }
        }

        &-img {
            width: 15rem;
            height: 15rem;
            /* phải có width và hieght và float */
            border-radius: 50%;
            float: left;
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            /* circle(bán kính so với width, height at tâm_X tâm_Y) */

            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);

            // /* 
            //     có thể thêm padding nhưng padding với float không tốt
            //     padding lại ở element cha để bù lại translateX -3rem
            //     */
            transform: translateX(-3rem);
            backface-visibility: hidden;
            position: relative;

            img {
                height: 100%;
                transform: scale(1.2);
                transition: all .5s;
            }

            &-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -10%);
                color: $color-white;
                font-size: 1.7rem;
                font-weight: 400;
                text-transform: uppercase;
                transition: all .5s;
                opacity: 0;
            }
        }
    }
}