
@keyframes leftToRight {
    0% {
        opacity: 0;
        transform: translateX(-5rem);
    }
    65% {
        transform: translateX(1.3rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rightToLeft {
    0% {
        opacity: 0;
        transform: translateX(5rem);
    }
    65% {
        transform: translateX(-1.3rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes bottomToTop {
    0% {
        opacity: 0;
        transform: translateY(2.5rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }    
}