.u-text-align {
    text-align: center !important;
}

.u-margin-big-1 {
    margin-bottom: 10rem !important;
}

.u-margin-big {
    margin-bottom: 8rem !important;
}

.u-margin-medium {
    margin-bottom: 3rem !important;
}

.u-margin-medium2 {
    margin-bottom: 4rem !important;
}

.u-margin-mini {
    margin-bottom: 1.5rem !important;
}